*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.wrap{
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    background-image: url('../assets/img/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap #myCanvas{
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    background-image: radial-gradient(#305cba, #122064);
}